*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

:root {
    --clr-neutral-100: hsl(0, 0%, 0%);
    --clr-neutral-200: hsl(0, 0%, 19%);
    --clr-neutral-300: hsl(0, 0%, 27%);
    --clr-neutral-400: hsl(0, 0%, 40%);
    --clr-neutral-500: hsl(0, 0%, 53%);
    --clr-neutral-600: hsl(0, 0%, 63%);
    --clr-neutral-700: hsl(0, 0%, 75%);
    --clr-neutral-800: hsl(0, 0%, 82%);
    --clr-neutral-900: hsl(0, 0%, 93%);
    --btn-width: 44px;
    --btn-font-size: 24px;
}

body {
    font-family: "Chicle", cursive;
    /* padding: 2rem; */
    text-transform: capitalize;
    min-height: 100vh;
    position: relative;
    background-color: black;
}

.h1 {
    width: max-content;
    height: max-content;
    position: absolute;
    color: var(--clr-neutral-700);
    font-size: min(5em, 15vw);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    rotate: -5deg;
    text-shadow: -2px 3px hsl(0, 88%, 29%);
}
.h1::before {
    content: "Super";
    position: relative;
    top: -0.5em;
}
.h1::after {
    content: "Cat";
    position: relative;
    bottom: -0.5em;
}

.canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 85%;
    /* border: 5px solid var(--clr-neutral-100); */
    /* box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.3); */
    /* height: 100%;
    aspect-ratio: 833 / 500; */
}

:modal {
    font-size: 2rem;
    position: absolute;
    margin: auto;
    border: 1px solid var(--clr-neutral-100);
    border-radius: 5px;
}

::backdrop {
    background-color: hsl(0, 0%, 0%, 0.6);
}
.controls-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: 1fr; */
    gap: 1rem;
    padding: 1rem;
}
.controls-form input {
    padding-left: 0.5em;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    z-index: 2;
    position: relative;
    padding: 1rem;
    user-select: none;
    pointer-events: none;
    margin-left: auto;
    align-items: flex-end;
}

/* .menu > * {

} */

button {
    pointer-events: all;
}

.btn {
    font: inherit;
    font-size: var(--btn-font-size);
    padding: 0.5em 1em;
    text-transform: inherit;
    cursor: pointer;
    color: var(--clr-neutral-900);
    position: relative;
    user-select: none;
    letter-spacing: 1px;
    border-radius: 12px;
    border: 3px outset var(--clr-neutral-500);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
    background: linear-gradient(
        160deg,
        var(--clr-neutral-400),
        var(--clr-neutral-300)
    );
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.btn[data-size="md"] {
    font-size: min(1.5em, 5vw);
}

.btn:disabled {
    background: linear-gradient(
        160deg,
        var(--clr-neutral-800),
        var(--clr-neutral-600)
    );
    border: 1px solid var(--clr-neutral-500);
    cursor: not-allowed;
    box-shadow: none;
}

.btn:where(:not(:disabled)):active {
    top: 2px;
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.8);
}

.btn:hover,
.btn:focus-visible {
    outline-offset: 5px;
    outline: 3px solid black;
}

/* .bg-layer,
.player, */
.hidden {
    display: none;
}

.mobile-controller {
    display: none;
    position: absolute;
    inset: auto 0 0 0;
    justify-content: space-between;
    margin-inline: 1.5vw;
}

.mobile-controller menu {
    list-style-type: none;
    display: grid;
}
.mobile-controller menu[data-keys="directions"] {
    /* gap: 0.5em; */
    grid-template-areas:
        ". . up up . ."
        "left left up up right right"
        "left left down down right right";
}
.mobile-controller menu[data-keys="actions"] {
    padding: 1em 0.5em 1em;
    grid-template-areas:
        ". . action action"
        "jump jump action action"
        "jump jump . .";
}
.mobile-controller menu[data-keys="actions"] button {
    border-radius: 0.75em;
}
.mobile-controller menu[data-keys="actions"] button[data-controls="jump"] {
    rotate: -90deg;
}

.controls-btn {
    display: inline-block;
    text-align: center;
    line-height: var(--btn-font-size);
    text-align: center;
    min-width: var(--btn-width);
    font-size: var(--btn-font-size);
    font-weight: bold;
    border-radius: 1em;
    background-color: rgb(40, 40, 40, 0.8);
    background-image: linear-gradient(var(--direction), transparent 0%,rgb(80, 80, 80, 0.2) 25%, rgb(80, 80, 80, 0.8) 80%, rgb(80, 80, 80, 0.9) 100%);
    aspect-ratio: 1;
    user-select: none;
    color: white;
    padding: 0.5em;
}

.controls-btn:active{
    scale: 0.9
}

[data-btn="controls-modal-open"] {
    display: inline-block;
}

[data-direction="left"] {
    grid-area: left;
}
[data-direction="up"] {
    grid-area: up;
}
[data-direction="right"] {
    grid-area: right;
}
[data-direction="down"] {
    grid-area: down;
}
[data-action="jump"] {
    grid-area: jump;
}
[data-action="action"] {
    grid-area: action;
}
[data-controls="left"] {
    --direction: to right;
    border-top-right-radius: var(--btn-width);
    border-bottom-right-radius: var(--btn-width);
}
[data-controls="right"] {
    --direction: to left;
    border-top-left-radius: var(--btn-width);
    border-bottom-left-radius: var(--btn-width);
}
[data-controls="up"] {
    --direction: to bottom;
    border-bottom-right-radius: var(--btn-width);
    border-bottom-left-radius: var(--btn-width);
}
[data-controls="down"] {
    --direction: to top;
    border-top-right-radius: var(--btn-width);
    border-top-left-radius: var(--btn-width);
}
[data-controls="jump"] {
    --direction: to right;
    padding: 0.75em;
}
[data-controls="action"] {
    --direction: to top left;
    padding: 0.75em;
}

@media (hover: none), (pointer: none) {
    .is_touch_device .mobile-controller {
        display: flex;
    }
    .is_touch_device [data-btn="controls-modal-open"] {
        display: none;
    }
}
