*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

:root {
    --clr-neutral-100: hsl(0, 0%, 0%);
    --clr-neutral-200: hsl(0, 0%, 19%);
    --clr-neutral-200-40: hsl(0, 0%, 19%, 0.4);
    --clr-neutral-300: hsl(0, 0%, 27%);
    --clr-neutral-400: hsl(0, 0%, 40%);
    --clr-neutral-400-40: hsl(0, 0%, 40%, 0.4);
    --clr-neutral-500: hsl(0, 0%, 53%);
    --clr-neutral-600: hsl(0, 0%, 63%);
    --clr-neutral-700: hsl(0, 0%, 75%);
    --clr-neutral-800: hsl(0, 0%, 82%);
    --clr-neutral-900: hsl(0, 0%, 93%);
    --clr-neutral-900-40: hsl(0, 0%, 93%, 0.4);
    --clr-accent-400: hsl(0, 88%, 29%);
    --clr-accent-500: hsl(0, 88%, 49%);
    --clr-accent-600: hsl(0, 58%, 59%);
    --btn-width: 44px;
    --btn-font-size: 24px;
    --btn-border-radius: 12px;
    --padding-xs: clamp(0.5em, 2%, 0.75em);
    --padding-sm: clamp(1em, 3%, 1.5em);
    --padding-md: clamp(1.5em, 6%, 3em);
    --padding-lg: clamp(3em, 12%, 6em);
    --padding-menu: 1em;
    --gap-menu: 0.5em;
    --border-btn: 3px;
    --easing: cubic-bezier(0.22, 1.73, 0.27, 0.83);
}

body,
html {
    height: 100%;
}

body {
    font-family: "Chicle", cursive;
    text-transform: capitalize;
    position: relative;
    background-color: var(--clr-neutral-200);
    overflow: hidden;
    user-select: none;
}

body:has(.game-is-on) h1 {
    display: none;
}

::-webkit-scrollbar {
    width: 0.975rem;
}

::-webkit-scrollbar-track {
    background-color: var(--clr-neutral-900);
    box-shadow: inset 0 0 10px var(--clr-neutral-700);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
        160deg,
        var(--clr-neutral-400),
        var(--clr-neutral-300)
    );
    outline: 2px solid var(--clr-neutral-100);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--clr-neutral-200);
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: var(--clr-neutral-200) var(--clr-neutral-900);
    }
}

.icon::before,
a::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

h1 {
    --shift-distance: -0.5em;
    --text-shadow-color: var(--clr-accent-400);
    width: max-content;
    height: max-content;
    position: absolute;
    color: var(--clr-neutral-700);
    font-size: min(5rem, 15vw);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    rotate: -5deg;
    text-shadow: -2px 3px var(--clr-accent-400);
    /* user-select: none; */
}
h1::before {
    content: "Super";
    position: relative;
    top: var(--shift-distance);
}
h1::after {
    content: "Cat";
    position: relative;
    bottom: var(--shift-distance);
}

h2 {
    font-size: 2em;
    border-bottom: 2px solid var(--clr-neutral-700);
}
h3 {
    font-size: 1.5em;
    width: fit-content;
    line-height: 1;
}
h1,
h2,
h3 {
    text-shadow: -2px 3px var(--text-shadow-color, var(--clr-neutral-700));
    user-select: none;
}

ul {
    list-style-type: none;
    margin-left: 1rem;
}
ul li {
    margin-bottom: 1rem;
}

.canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 85%;
    /* border: 5px solid var(--clr-neutral-100); */
    /* box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.3); */
    /* height: 100%;
    aspect-ratio: 833 / 500; */
}

:modal {
    font-size: 2rem;
    font-size: var(--btn-font-size);
    position: absolute;
    margin: auto;
    border: 1px solid var(--clr-neutral-100);
    border-radius: 5px;
    max-width: 46rem;
}

::backdrop {
    background-color: hsl(0, 0%, 0%, 0.6);
}

details {
    --padding: var(--padding-xs);
    padding: var(--padding);
    padding-top: 0;
    position: relative;
    left: var(--padding);
    border-width: 2px;
    border-style: solid;
    border-radius: calc(var(--padding) + var(--btn-border-radius));
    border-color: transparent;
    color: var(--clr-neutral-900);
    text-align: center;
    font-size: 1.2rem;
    text-shadow: -1px 1px var(--clr-neutral-100);
}

details[open] {
    background-color: var(--clr-neutral-400-40);
    border-color: var(--clr-neutral-900);
    padding-top: var(--padding);
    backdrop-filter: blur(3px);
}

details[open] summary {
    background: var(--clr-neutral-500);
}

summary {
    text-align: center;
    /* width: fit-content; */
    /* margin: 0 0 0 auto; */
    /* transition: width 800ms cubic-bezier(0.22, 1.73, 0.27, 0.83); */
    z-index: 2;
}

summary::marker {
    display: none;
}

a {
    margin-left: 1rem;
    color: var(--clr-accent-500);
    text-underline-offset: 0.5rem;
    transition: color 100ms ease-in;
    text-shadow: -1px 2px var(--clr-neutral-700);
    letter-spacing: 2px;
}

a:where(:hover, :focus-visible) {
    text-decoration: none;
    color: var(--clr-accent-400);
}

a::after {
    content: "\f35d";
    font-size: 0.5em;
    margin-left: 0.5rem;
    color: var(--clr-neutral-600);
}

label{
    padding-left: 0.5em;
    transition: background-color 200ms var(--easing);
    text-transform: uppercase;
    border-bottom: 2px solid var(--border-color, transparent);
}

label:has( + input:focus-visible){
    --border-color: white;
    background-color: var(--clr-neutral-400-40);
}
label:has( + input:hover){
    background-color: var(--clr-neutral-400-40);
}



/* COMPOSITION */

.controls-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}
.controls-form input {
    /* padding-left: 0.5em; */
    outline-offset: 3px;
    text-align: center;
    color: var(--clr-accent-400);
    background-color: var(--clr-neutral-800);
    border: none;
    border-radius: 10px 5px;
    transform: skewX(-5deg);
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: var(--gap-menu);
    z-index: 2;
    position: relative;
    padding: var(--padding-menu);
    user-select: none;
    pointer-events: none;
    margin-left: auto;
    align-items: flex-end;
}

.menu[data-list="credits"] li {
    width: 100%;
    pointer-events: all;
}

.menu[data-list="how-to-play"] {
    align-items: flex-start;
    max-width: 80%;
    margin: 0;
    gap: 2rem;
}

ul span:not(.emphasize) {
    color: var(--clr-accent-400);
    text-shadow: -2px 2px var(--clr-neutral-700);
    margin-inline: 0.5ch;
}

.mobile-controller {
    display: none;
    position: absolute;
    inset: auto 0 0 0;
    justify-content: space-between;
    margin-inline: 1.5vw;
}

.mobile-controller menu {
    list-style-type: none;
    display: grid;
}

.mobile-controller menu[data-keys="directions"] {
    /* gap: 0.5em; */
    grid-template-areas:
        ". . up up . ."
        "left left up up right right"
        "left left down down right right";
}
.mobile-controller menu[data-keys="actions"] {
    padding: 1rem 0.5rem 1rem;
    grid-template-areas:
        ". . action action"
        "jump jump action action"
        "jump jump . .";
    gap: 0.4rem;
}

/* UTILITITES */

.padding-0 {
    padding: 0;
}

.padding-sm {
    padding: var(--padding-sm);
}

.hidden {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.emphasize {
    font-size: max(0.75em, 16px);
    font-style: italic;
}

.mobile-only {
    display: none;
}

.accent-text {
    color: var(--clr-accent-400);
}

.text-shadow {
    text-shadow: -1px 2px var(--clr-neutral-600);
}
.text-shadow--700 {
    text-shadow: -1px 2px var(--clr-neutral-700);
}

/* BLOCK */

.button-wrapper {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid var(--clr-neutral-500);
    display: flex;
    gap: var(--gap-menu);
    justify-content: end;
}

.btn {
    --gradient-clr-1: var(--clr-neutral-400);
    --gradient-clr-2: var(--clr-neutral-300);
    --text-shadow-clr: rgba(0, 0, 0, 1);
    font-size: var(--btn-font-size);
    padding: 0.5em 1em;
    text-transform: inherit;
    cursor: pointer;
    color: var(--clr-neutral-900);
    position: relative;
    user-select: none;
    letter-spacing: 1px;
    border-radius: var(--btn-border-radius);
    border: var(--border-btn) outset var(--clr-neutral-500);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
    background: linear-gradient(
        160deg,
        var(--gradient-clr-1),
        var(--gradient-clr-2)
    );
    text-shadow: 0px 0px 4px var(--text-shadow-clr);
    pointer-events: all;
    line-height: 1;
}

.btn:disabled {
    --gradient-clr-1: var(--clr-neutral-800);
    --gradient-clr-2: var(--clr-neutral-600);
    border: 1px solid var(--clr-neutral-500);
    cursor: not-allowed;
    box-shadow: none;
}

.btn:not(:disabled):active {
    top: 2px;
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.8);
}

.btn:is(:hover, :focus-visible):not(:disabled) {
    --gradient-clr-1: var(--clr-neutral-400);
    --gradient-clr-2: var(--clr-neutral-200);
    --outline-color: var(--clr-neutral-900);
    outline-offset: 5px;
    outline: 3px solid var(--outline-color);
    z-index: 3;
}

.mobile-controller menu[data-keys="actions"] button {
    border-radius: 0.75em;
}
.mobile-controller menu[data-keys="actions"] button[data-controls="jump"] span {
    display: block;
    rotate: -90deg;
}

.controls-btn {
    --shrink-offset: 0px;
    --color-dark: rgb(20, 20, 20, 0.8);
    --color-light: rgb(180, 180, 180, 0.8);
    --color-light-pressed: rgb(160, 160, 160, 0.8);
    --h1: calc(4px - var(--shrink-offset));
    --v1: calc(4px - var(--shrink-offset));
    --h2: calc(-2px + var(--shrink-offset));
    --v2: calc(-2px + var(--shrink-offset));
    --blur1: calc(7px - var(--shrink-offset));
    --blur2: calc(7px - var(--shrink-offset));
    --border-spread: 0px;
    display: inline-block;
    position: relative;
    line-height: var(--btn-font-size);
    text-align: center;
    min-width: var(--btn-width);
    font-size: var(--btn-font-size);
    border-radius: 1em;
    background-color: var(--color-dark);
    border-color: var(--color-light);
    border-width: 1px;
    background-image: linear-gradient(
        to bottom right,
        rgb(20, 20, 20, 0.2) 0%,
        rgb(80, 80, 80, 0.1) 25%,
        rgb(80, 80, 80, 0.67) 80%,
        rgb(80, 80, 80, 0.7) 100%
    );
    aspect-ratio: 1;
    user-select: none;
    color: white;

    padding: 0.5em;
    box-shadow: 0 0 0 var(--border-spread) black,
        var(--h1) var(--v1) var(--blur1) var(--color-dark),
        var(--h2) var(--v2) var(--blur2) var(--color-light);
}

.controls-btn:active,
.controls-btn[data-active] {
    --shrink-offset: 1px;
    --border-spread: 1px;
    scale: 0.95;
    border-style: inset;
    background-image: linear-gradient(
        to bottom right,
        rgb(20, 20, 20, 0.2) 0%,
        rgb(80, 80, 80, 0.1) 25%,
        rgb(80, 80, 80, 0.5) 80%,
        rgb(80, 80, 80, 0.6) 100%
    );
    color: var(--color-light);
}

.btn-close-modal {
    margin-left: auto;
    display: block;
    transition: border-radius 400ms cubic-bezier(0.22, 1.3, 0.27, 0.83);
    aspect-ratio: 1;
}
.btn-close-modal:is(:hover, :focus-visible) {
    --outline-color: var(--clr-neutral-200);
    border-radius: 50%;
}

/* EXCEPTIONS */

[data-modal="controls"]{
    border-color: var(--clr-neutral-900);
    border-width: 2px;
    border-radius: 0;
    background-color: var(--clr-neutral-200-40);
    backdrop-filter: blur(5px);
    color: var(--clr-neutral-900);
    letter-spacing: 2px;
}

[data-btn="controls-modal-open"] {
    display: inline-block;
}
[data-btn="controls-modal-open"] {
    margin-top: var(--gap-menu);
}
[data-btn="full-screen"] {
    display: none;
}
[data-btn="clear-storage"] {
    margin-top: var(--gap-menu);
}

[data-direction="left"] {
    grid-area: left;
}
[data-direction="up"] {
    grid-area: up;
}
[data-direction="right"] {
    grid-area: right;
}
[data-direction="down"] {
    grid-area: down;
}
[data-action="jump"] {
    grid-area: jump;
}
[data-action="action"] {
    grid-area: action;
}
[data-controls="left"] {
    border-top-right-radius: var(--btn-width);
    border-bottom-right-radius: var(--btn-width);
}
[data-controls="right"] {
    /* --direction: to left; */
    border-top-left-radius: var(--btn-width);
    border-bottom-left-radius: var(--btn-width);
}
[data-controls="up"] {
    /* --direction: to bottom; */
    border-bottom-right-radius: var(--btn-width);
    border-bottom-left-radius: var(--btn-width);
}
[data-controls="down"] {
    /* --direction: to top; */
    border-top-right-radius: var(--btn-width);
    border-top-left-radius: var(--btn-width);
}
[data-controls="jump"] {
    padding: 0.75em;
}
[data-controls="action"] {
    padding: 0.75em;
}

[data-icon="expand"]::before {
    content: "\f065";
}
[data-icon="compress"]::before {
    content: "\f066";
}
[data-list="details"] {
    margin-top: var(--gap-menu);
    padding: 0;
    border-top: 3px solid var(--clr-neutral-400);
    align-items: stretch;
}
[data-list="details"] .btn {
    width: 100%;
}

[data-list="main-menu"] {
    --button-height: calc(var(--btn-font-size) * 2 + var(--border-btn) * 2);
    --top-offset: calc(calc(var(--button-height) * 2 + var(--gap-menu)) * -1);
    --main-menu-padding: var(--padding-menu);
    top: var(--main-menu-padding);
    right: var(--main-menu-padding);
    padding: 0;
    transition: 300ms var(--easing);
    transition-property: top, right;
}
[data-list="main-menu"]:is(:not(:hover, :focus-within, :has(details[open]))) {
    opacity: 0.4;
}

[data-list="main-menu"].game-is-on {
    --gap-menu: 0.25em;
    --main-menu-padding: 0.125em;
}
[data-list="main-menu"]:has(details[open]) {
    top: var(--top-offset);
    right: var(--padding-menu);
}

[data-child-of="main-menu"] {
    min-width: 11ch;
    padding-inline: 0.5em;
    transition: min-width 400ms var(--easing);
}
[data-child-of="main-menu"]:not(:disabled):is(:hover, :focus-visible) {
    min-width: 14ch;
}
[data-btn-type="clear"] {
    /* --gradient-clr-1: transparent;
    --gradient-clr-2: transparent; */
    --gradient-clr-1: var(--clr-neutral-900);
    --gradient-clr-2: var(--clr-neutral-900);
    --text-shadow-clr: var(--clr-neutral-900);
    color: var(--clr-neutral-200);
}
.btn[data-btn-type="clear"]:is(:hover, :focus-visible) {
    --gradient-clr-1: var(--clr-neutral-800);
    --gradient-clr-2: var(--clr-neutral-800);
    color: var(--clr-neutral-100);
    --outline-color: var(--clr-neutral-700);
    box-shadow: none;
}
.btn[data-btn-type="confirm"]:is(:hover, :focus-visible) {
    --outline-color: var(--clr-neutral-500);
    box-shadow: none;
}

[data-stat]:empty::before {
    content: attr(data-placeholder);
}

[data-modal="confirm"] {
    outline: 3px solid var(--clr-neutral-600);
    outline-offset: 3px;
    border: none;
}

@media screen and (min-width: 500px) {
    .menu[data-list="credits"] li {
        display: flex;
        justify-content: space-between;
    }
}

@media (hover: none), (pointer: none) {
    .is_touch_device .mobile-controller {
        display: flex;
    }
    .is_touch_device [data-btn="full-screen"] {
        --clr-neutral-400: hsl(0, 0%, 0%, 0.3);
        --clr-neutral-300: hsl(0, 0%, 0%, 0.3);
        color: var(--clr-neutral-900);
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        border: none;
        border-radius: 50%;
        position: absolute;
        left: 0.4em;
        top: 0.4em;
        width: var(--btn-width);
        line-height: 1;
        box-shadow: none;
    }
    .is_touch_device [data-btn="controls-modal-open"] {
        display: none;
        margin-top: 0;
    }
    .is_touch_device .mobile-only {
        display: var(--display-type, block);
    }
}
